# Analysis of Coffee Shop Sales

In this analysis we have a dataset, `coffee_shop_sales.csv`, which provides information from various coffee shops in NYC and the transactions that occured at those coffee shops. The purpose of this analysis is to conduct an evaluation of the data to answer the following questions:

1. Does the location of the coffee shop have an impact on the number of transactions?
2. Does the time of day have an impact on the number of transactions?
3. Does the location of the coffee shop have an impact on the product type of the transactions?
4. What is the most sold product?
5. What is the least sold product?
6. Do coffee shops sell more coffee in the winter months?

## Introduction

In [13]:
# import ncecessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# load coffee shope sales data
df = pd.read_csv('coffee_shop_sales.csv')

# display first 5 rows
print(df.head())

   transaction_id transaction_date transaction_time  transaction_qty  \
0               1         1/1/2023          7:06:11                2
1               2         1/1/2023          7:08:56                2
2               3         1/1/2023          7:14:04                2
3               4         1/1/2023          7:20:24                1
4               5         1/1/2023          7:22:41                2

   store_id   store_location  product_id  unit_price    product_category  \
0         5  Lower Manhattan          32         3.0              Coffee
1         5  Lower Manhattan          57         3.1                 Tea
2         5  Lower Manhattan          59         4.5  Drinking Chocolate
3         5  Lower Manhattan          22         2.0              Coffee
4         5  Lower Manhattan          57         3.1                 Tea

            product_type               product_detail Revenue  Month Month.1  \
0  Gourmet brewed coffee                  Ethiopia Rg   $6.00      1     Jan
1        Brewed Chai tea     Spicy Eye Opener Chai Lg   $6.20      1     Jan
2          Hot chocolate            Dark chocolate Lg   $9.00      1     Jan
3            Drip coffee  Our Old Time Diner Blend Sm   $2.00      1     Jan
4        Brewed Chai tea     Spicy Eye Opener Chai Lg   $6.20      1     Jan

   Weekday Weekday.1  Hour
0        7       Sun     7
1        7       Sun     7
2        7       Sun     7
3        7       Sun     7
4        7       Sun     7

In [4]:
# check for missing values
df.isna().sum()

transaction_id      0
transaction_date    0
transaction_time    0
transaction_qty     0
store_id            0
store_location      0
product_id          0
unit_price          0
product_category    0
product_type        0
product_detail      0
Revenue             0
Month               0
Month.1             0
Weekday             0
Weekday.1           0
Hour                0
dtype: int64

In [5]:
# check for column types
df.dtypes

transaction_id        int64
transaction_date     object
transaction_time     object
transaction_qty       int64
store_id              int64
store_location       object
product_id            int64
unit_price          float64
product_category     object
product_type         object
product_detail       object
Revenue              object
Month                 int64
Month.1              object
Weekday               int64
Weekday.1            object
Hour                  int64
dtype: object

In [8]:
# Review basic information about dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149116 entries, 0 to 149115
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   transaction_id    149116 non-null  int64
 1   transaction_date  149116 non-null  object
 2   transaction_time  149116 non-null  object
 3   transaction_qty   149116 non-null  int64
 4   store_id          149116 non-null  int64
 5   store_location    149116 non-null  object
 6   product_id        149116 non-null  int64
 7   unit_price        149116 non-null  float64
 8   product_category  149116 non-null  object
 9   product_type      149116 non-null  object
 10  product_detail    149116 non-null  object
 11  Revenue           149116 non-null  object
 12  Month             149116 non-null  int64
 13  Month.1           149116 non-null  object
 14  Weekday           149116 non-null  int64
 15  Weekday.1         149116 non-null  object
 16  Hour              149116 non-null  int64
dtypes: float64(1), int64(7), object(9)
memory usage: 19.3+ MB

## Analysis

1. Basic summary statistics
2. Find highest selling product
3. Find Lowest selling product

In [9]:
# find summary statistics
df.describe()

,transaction_id,transaction_qty,store_id,product_id,unit_price,Month,Weekday,Hour
count,149116.000000,149116.000000,149116.000000,149116.000000,149116.000000,149116.000000,149116.000000,149116.000000
mean,74737.371872,1.438276,5.342063,47.918607,3.382219,3.988881,3.982336,11.735790
std,43153.600016,0.542509,2.074241,17.930020,2.658723,1.673091,1.996650,3.764662
min,1.000000,1.000000,3.000000,1.000000,0.800000,1.000000,1.000000,6.000000
25%,37335.750000,1.000000,3.000000,33.000000,2.500000,3.000000,2.000000,9.000000
50%,74727.500000,1.000000,5.000000,47.000000,3.000000,4.000000,4.000000,11.000000
75%,112094.250000,2.000000,8.000000,60.000000,3.750000,5.000000,6.000000,15.000000
max,149456.000000,8.000000,8.000000,87.000000,45.000000,6.000000,7.000000,20.000000

In [11]:
highest_selling_product = df.groupby('product_type')['transaction_qty'].sum().idxmax()
print(highest_selling_product)

Brewed Chai tea

In [12]:
lowest_selling_product = df.groupby('product_type')['transaction_qty'].sum().idxmin()
print(lowest_selling_product)

Green beans

Sort data into separate lists for each location

In [17]:
# count how many unique store locations there are.
unique_locations = df['store_location'].nunique()
print('There are {} unique store locations.'.format(unique_locations))

# create a list of the unique locations
locations = df['store_location'].unique()
print(locations)

# group by store location
grouped_locations = df.groupby('store_location')

# create dictionary to store the smaller dataframes
dfs = {location: group for location, group in grouped_locations}

# Access the smaller dataframes
df_lower_manhattan = dfs['Lower Manhattan']
df_hells_kitchen = dfs['Hell\'s Kitchen']
df_astoria = dfs['Astoria']

# print the smaller dataframes
print(df_lower_manhattan)
print(df_hells_kitchen)
print(df_astoria)

There are 3 unique store locations.
['Lower Manhattan' "Hell's Kitchen" 'Astoria']
        transaction_id transaction_date transaction_time  transaction_qty  \
0                    1         1/1/2023          7:06:11                2
1                    2         1/1/2023          7:08:56                2
2                    3         1/1/2023          7:14:04                2
3                    4         1/1/2023          7:20:24                1
4                    5         1/1/2023          7:22:41                2
...                ...              ...              ...              ...
149045          149386        6/30/2023         18:28:56                2
149046          149387        6/30/2023         18:30:02                1
149047          149388        6/30/2023         18:30:02                1
149094          149435        6/30/2023         19:40:09                2
149110          149451        6/30/2023         20:16:31                2

        store_id   store_location  product_id  unit_price    product_category  \
0              5  Lower Manhattan          32        3.00              Coffee
1              5  Lower Manhattan          57        3.10                 Tea
2              5  Lower Manhattan          59        4.50  Drinking Chocolate
3              5  Lower Manhattan          22        2.00              Coffee
4              5  Lower Manhattan          57        3.10                 Tea
...          ...              ...         ...         ...                 ...
149045         5  Lower Manhattan          22        2.00              Coffee
149046         5  Lower Manhattan          59        4.50  Drinking Chocolate
149047         5  Lower Manhattan          72        3.25              Bakery
149094         5  Lower Manhattan          58        3.50  Drinking Chocolate
149110         5  Lower Manhattan          42        2.50                 Tea

                 product_type               product_detail Revenue  Month  \
0       Gourmet brewed coffee                  Ethiopia Rg   $6.00      1
1             Brewed Chai tea     Spicy Eye Opener Chai Lg   $6.20      1
2               Hot chocolate            Dark chocolate Lg   $9.00      1
3                 Drip coffee  Our Old Time Diner Blend Sm   $2.00      1
4             Brewed Chai tea     Spicy Eye Opener Chai Lg   $6.20      1
...                       ...                          ...     ...    ...
149045            Drip coffee  Our Old Time Diner Blend Sm   $4.00      6
149046          Hot chocolate            Dark chocolate Lg   $4.50      6
149047                  Scone                 Ginger Scone   $3.25      6
149094          Hot chocolate            Dark chocolate Rg   $7.00      6
149110      Brewed herbal tea               Lemon Grass Rg   $5.00      6

       Month.1  Weekday Weekday.1  Hour
0          Jan        7       Sun     7
1          Jan        7       Sun     7
2          Jan        7       Sun     7
3          Jan        7       Sun     7
4          Jan        7       Sun     7
...        ...      ...       ...   ...
149045     Jun        5       Fri    18
149046     Jun        5       Fri    18
149047     Jun        5       Fri    18
149094     Jun        5       Fri    19
149110     Jun        5       Fri    20

[47782 rows x 17 columns]
        transaction_id transaction_date transaction_time  transaction_qty  \
17                  18         1/1/2023          8:00:18                1
18                  19         1/1/2023          8:00:39                2
19                  20         1/1/2023          8:11:45                1
20                  21         1/1/2023          8:17:27                2
23                  24         1/1/2023          8:29:38                1
...                ...              ...              ...              ...
149111          149452        6/30/2023         20:18:41                2
149112          149453        6/30/2023         20:25:10                2
149113          149454        6/30/2023         20:31:34                1
149114          149455        6/30/2023         20:57:19                1
149115          149456        6/30/2023         20:57:19                2

        store_id  store_location  product_id  unit_price    product_category  \
17             8  Hell's Kitchen          42        2.50                 Tea
18             8  Hell's Kitchen          59        4.50  Drinking Chocolate
19             8  Hell's Kitchen          61        4.75  Drinking Chocolate
20             8  Hell's Kitchen          33        3.50              Coffee
23             8  Hell's Kitchen          56        2.55                 Tea
...          ...             ...         ...         ...                 ...
149111         8  Hell's Kitchen          44        2.50                 Tea
149112         8  Hell's Kitchen          49        3.00                 Tea
149113         8  Hell's Kitchen          45        3.00                 Tea
149114         8  Hell's Kitchen          40        3.75              Coffee
149115         8  Hell's Kitchen          64        0.80            Flavours

                 product_type                product_detail Revenue  Month  \
17          Brewed herbal tea                Lemon Grass Rg   $2.50      1
18              Hot chocolate             Dark chocolate Lg   $9.00      1
19              Hot chocolate  Sustainably Grown Organic Lg   $4.75      1
20      Gourmet brewed coffee                   Ethiopia Lg   $7.00      1
23            Brewed Chai tea      Spicy Eye Opener Chai Rg   $2.55      1
...                       ...                           ...     ...    ...
149111      Brewed herbal tea                 Peppermint Rg   $5.00      6
149112       Brewed Black tea          English Breakfast Lg   $6.00      6
149113      Brewed herbal tea                 Peppermint Lg   $3.00      6
149114       Barista Espresso                    Cappuccino   $3.75      6
149115          Regular syrup                Hazelnut syrup   $1.60      6

       Month.1  Weekday Weekday.1  Hour
17         Jan        7       Sun     8
18         Jan        7       Sun     8
19         Jan        7       Sun     8
20         Jan        7       Sun     8
23         Jan        7       Sun     8
...        ...      ...       ...   ...
149111     Jun        5       Fri    20
149112     Jun        5       Fri    20
149113     Jun        5       Fri    20
149114     Jun        5       Fri    20
149115     Jun        5       Fri    20

[50735 rows x 17 columns]
        transaction_id transaction_date transaction_time  transaction_qty  \
105                106         1/1/2023         11:01:48                1
106                107         1/1/2023         11:01:58                1
107                108         1/1/2023         11:01:58                1
111                112         1/1/2023         11:08:11                1
113                114         1/1/2023         11:09:01                1
...                ...              ...              ...              ...
149103          149444        6/30/2023         19:51:59                2
149104          149445        6/30/2023         19:52:28                2
149105          149446        6/30/2023         19:53:46                1
149107          149448        6/30/2023         19:57:49                2
149108          149449        6/30/2023         19:57:49                1

        store_id store_location  product_id  unit_price    product_category  \
105            3        Astoria          22        2.00              Coffee
106            3        Astoria          38        3.75              Coffee
107            3        Astoria          75        3.50              Bakery
111            3        Astoria          59        4.50  Drinking Chocolate
113            3        Astoria          59        4.50  Drinking Chocolate
...          ...            ...         ...         ...                 ...
149103         3        Astoria          26        3.00              Coffee
149104         3        Astoria          34        2.45              Coffee
149105         3        Astoria          24        3.00              Coffee
149107         3        Astoria          54        2.50                 Tea
149108         3        Astoria          70        3.25              Bakery

                 product_type               product_detail Revenue  Month  \
105               Drip coffee  Our Old Time Diner Blend Sm   $2.00      1
106          Barista Espresso                        Latte   $3.75      1
107                    Pastry                    Croissant   $3.50      1
111             Hot chocolate            Dark chocolate Lg   $4.50      1
113             Hot chocolate            Dark chocolate Lg   $4.50      1
...                       ...                          ...     ...    ...
149103  Organic brewed coffee                 Brazilian Rg   $6.00      6
149104  Premium brewed coffee     Jamaican Coffee River Sm   $4.90      6
149105            Drip coffee  Our Old Time Diner Blend Lg   $3.00      6
149107        Brewed Chai tea      Morning Sunrise Chai Rg   $5.00      6
149108                  Scone              Cranberry Scone   $3.25      6

       Month.1  Weekday Weekday.1  Hour
105        Jan        7       Sun    11
106        Jan        7       Sun    11
107        Jan        7       Sun    11
111        Jan        7       Sun    11
113        Jan        7       Sun    11
...        ...      ...       ...   ...
149103     Jun        5       Fri    19
149104     Jun        5       Fri    19
149105     Jun        5       Fri    19
149107     Jun        5       Fri    19
149108     Jun        5       Fri    19

[50599 rows x 17 columns]

highest and lowest for each location

In [22]:
# highest selling product type for each location
highest_selling_product_lower_manhattan = df_lower_manhattan.groupby('product_type')['transaction_qty'].sum().idxmax()
print(highest_selling_product_lower_manhattan)
highest_selling_product_hells_kitchen = df_hells_kitchen.groupby('product_type')['transaction_qty'].sum().idxmax()
print(highest_selling_product_hells_kitchen)
highest_selling_product_astoria = df_astoria.groupby('product_type')['transaction_qty'].sum().idxmax()
print(highest_selling_product_astoria)

Gourmet brewed coffee
Barista Espresso
Brewed Chai tea

In [19]:
# lowest selling product type for each location
lowest_selling_product_lower_manhattan = df_lower_manhattan.groupby('product_type')['transaction_qty'].sum().idxmin()
print(lowest_selling_product_lower_manhattan)
lowest_selling_product_hells_kitchen = df_hells_kitchen.groupby('product_type')['transaction_qty'].sum().idxmin()
print(lowest_selling_product_hells_kitchen)
lowest_selling_product_astoria = df_astoria.groupby('product_type')['transaction_qty'].sum().idxmin()
print(lowest_selling_product_astoria)

Green beans
Clothing
Green beans

## Conclusions